<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/stylesLogin.css}">
</head>

<body>
<div class="form-container">

  <div th:if="${param.error}" class="message error-message">
    <p>Invalid Username or Password</p>
  </div>

  <div th:if="${param.logout}" class="message logout-message">
    <p>Logout Successful!</p>
  </div>

  <h2>Login</h2>
  <form th:action="@{/login}" method="post" role="form" th:object="${user}">

    <label for="username">Username:</label>
    <input th:field="*{username}" type="text" id="username" name="username"
           placeholder="Enter your Username" required>

    <label for="password">Password:</label>
    <input th:field="*{password}" type="password" id="password" name="password"
           placeholder="Enter your Password" required>

    <button type="submit">Login</button>
  </form>

  <div class="form-footer">
    <p>Don't have an account? Register <a th:href="@{/register}">here</a>.</p>
  </div>
</div>
</body>

</html>
