<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - CloudDrive</title>
    <link rel="stylesheet" th:href="@{css/stylesRegister.css}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <i class="fas fa-cloud"></i>
        <span>CloudDrive</span>
    </div>
</nav>

<div class="form-container">
    <h2>Create your CloudDrive account</h2>

    <div th:if="${param.success}" class="success-message">
        <p>Registration Successful!</p>
    </div>

    <form th:action="@{/register}" method="post" role="form" th:object="${user}" onsubmit="return validatePassword()">

        <label for="email">Email:</label>
        <input th:field="*{email}" type="text" id="email" name="email" placeholder="Enter your email" required>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>

        <label for="username">Username:</label>
        <input th:field="*{username}" type="text" id="username" name="username" placeholder="Choose a username" required>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></p>

        <label for="password">Password:</label>
        <input th:field="*{password}" type="password" id="password" name="password" placeholder="Create a password" required>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>

        <label for="confirmPassword">Confirm Password:</label>
        <input th:field="*{confirmPassword}" type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your password" required>
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-message"></p>
        <p id="passwordError" class="error-message" style="display:none;">Passwords do not match</p>

        <button type="submit" class="btn">Sign Up</button>
    </form>

    <div>
        <span th:if="${UserEmailExists}" class="error-message">Email is already linked to an account</span>
        <span th:if="${UsernameExists}" class="error-message">Username is already taken</span>
    </div>

    <p class="form-footer">Already have an account? <a th:href="@{/login}">Login here</a>.</p>
</div>

<script>
    function validatePassword() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        let errorMessage = document.getElementById("passwordError");

        if (password !== confirmPassword) {
            errorMessage.style.display = "block";
            return false; // Prevent form submission
        } else {
            errorMessage.style.display = "none";
            return true;
        }
    }
</script>

</body>
</html>
